<div class = "main">
<div class="form"> 
  <div class="form-body">
    <h1>ログインする</h1>
    <form action="/login" method="POST">

    <label for="name">name:</label>
    <input type="text" name="name" id="name" />
    <label for="password">password：</label>
    <input type="password" name="password" id="password"/>

    <input type="submit" value="ログイン">
    </form>
    <a href = "/signup">新規登録はこちら！</a>
  </div>
</div>
</div>