
<div class="main">
  <div class = "form">
    <div class = "form-body">
      <h1>warning</h1>
      <form action="/new_warn" method="POST">

      <label for="point">場所：</label>
      <input type="text" name="point">

      <label for="reason">理由：</label>
      <input type="text" name="reason">

      <input type="submit" value="warn!">
      </form>
    </div>
  </div>
</div>